<?xml version='1.0' encoding='utf-8'?>
<widget id="com.HTWK-App.App" version="0.13.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HTWK-App</name>
    <description>
        This is an App for Students and Professors of the University of Applied Sciences Leipzig.
    </description>
    <author email="rmeissn@imn.htwk-leipzig.de" href="https://rmeissn.github.io/">
        HTWK-App Team
    </author>
    <content src="index.html" />

    <preference name="stay-in-webview"            value="false" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="show-splash-screen-spinner" value="true" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="android-minSdkVersion"      value="15" />              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="SplashScreen" value="splash_640x1136.png" />
    <preference name="SplashScreenDelay" value="3000" />

    <plugin name="cordova-plugin-geolocation" version="1" />
    <plugin name="cordova-plugin-splashscreen" version="2" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="com.danielcwilson.plugins.googleanalytics" version="0.6.1" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <icon src="icons_splashs/icon_192x192_corner.png" />

    <platform name="android">
        <allow-intent href="market:*" />
        <splash src="icons_splashs/splash_960x640.png" density="port-ldpi"/>
        <splash src="icons_splashs/splash_960x640.png" density="port-mdpi"/>
        <splash src="icons_splashs/splash_640x1136.png" density="port-hdpi"/>
        <splash src="icons_splashs/splash_640x1136.png" density="port-xhdpi"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
