<?xml version='1.0' encoding='utf-8'?>
<widget id="com.HTWK-App.App" version="0.13.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HTWK-App</name>
    <description>
        This is an App for Students and Professors of the University of Applied Sciences Leipzig.
    </description>
    <author email="rmeissn@imn.htwk-leipzig.de" href="https://rmeissn.github.io/">
        HTWK-App Team
    </author>
    <content src="index.html" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="android-minSdkVersion" value="15" />
    <preference name="SplashScreen" value="splash_640x1136.png" />
    <preference name="SplashScreenDelay" value="3000" />
    
    <plugin name="cordova-plugin-device" spec="^1.0.0" />
    <plugin name="cordova-plugin-geolocation" spec="^1.0.0" />
    <plugin name="cordova-plugin-splashscreen" spec="^2.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.0.0" />
    <plugin name="com.clone.phonegap.plugins.pushplugin" spec="^2.4.1" />
    <plugin name="com.danielcwilson.plugins.googleanalytics" spec="^0.6.1" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <icon src="icons_splashs/icon_192x192_corner.png" />
    
    <platform name="android">
        <allow-intent href="market:*" />
        <splash density="port-ldpi" src="icons_splashs/splash_960x640.png" />
        <splash density="port-mdpi" src="icons_splashs/splash_960x640.png" />
        <splash density="port-hdpi" src="icons_splashs/splash_640x1136.png" />
        <splash density="port-xhdpi" src="icons_splashs/splash_640x1136.png" />
    </platform>
    
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
