#news_content_list img {
	margin-left:0.4em;
	margin-top:1.2em;
}

.pcoll {
	margin-top: -9px;
	margin-bottom: -8px;
}

.blur {
	-moz-filter: blur(2px);
	-webkit-filter: blur(2px);
	filter: blur(2px);
}

.ui-pannel{
	background-color: #222222;
}
