#news_content img {
	width: 100%;
}

.pcoll {
	margin-top: -9px;
	margin-bottom: -8px;
}

.blur {
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-ms-filter: blur(2px);
	-o-filter: blur(2px);
	filter: blur(2px);
}

.content_div {
    display: none;
}
.content_div:first-child {
    display: block;
}

.center
{
	margin: 0 auto;
	text-align: center;
}

#sport_content_list img
{
	margin: 15px 0 0 15px;	
}

.sportdetails img
{
	float:right;
}

#signInDialog
{
	display: none;
	max-width: 400px;
}