/*Custom changes to the default JQM Theme*/

/*.ui-content,.ui-overlay-b, .ui-page-theme-b, .ui-page-theme-b .ui-panel-wrapper {
	background-color: #1980c5;
}

.ui-header.ui-bar-b,.ui-footer.ui-bar-b {
	background-color: #0468ab;
}

.ui-page-theme-b .ui-btn, html .ui-bar-b .ui-btn, html .ui-body-b .ui-btn, html body .ui-group-theme-b .ui-btn, html head + body .ui-btn.ui-btn-b, .ui-page-theme-b .ui-btn:visited, html .ui-bar-b .ui-btn:visited, html .ui-body-b .ui-btn:visited, html body .ui-group-theme-b .ui-btn:visited, html head + body .ui-btn.ui-btn-b:visited{
	background-color: #0468ab;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
	background-color: black;
	color: white;
	border-bottom: 1px solid rgba(255,255,255,1);
}

.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited{
	background-color: black;
	color: white;
}

.ui-listview>li {
	border-bottom: 1px solid rgba(255,255,255,0.5);
}*/

#mail_inbox .ui-li-divider{
	background-color: #04589b;
}
.map-canvas{
	float: left; width: 70%; height: 100%;
}

.mapcontainer{
	float: right; width:30%; height: 100%;
}

.ui-header .ui-title, .ui-footer .ui-title{
	margin-right: 10%;
	margin-left: 10%;
}

ui-input-text input, .ui-input-search input{
	color: white;
	text-shadow: none;
}

#info_exam_table li a{
	padding-left:10px;
	padding-right:10px;
}

.sport img, .staffpic{
	margin: 8px 0 0 14px;
}

.nativeDroidCards > li {
	border: 1px solid rgba(255,255,255,0.1);
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,0.1);
}

.nativeDroidCards table td,.nativeDroidCards a {
	border-top: 1px solid rgba(255,255,255,0.05);
}

.nativeDroidCards > li[data-cards-type="weather"] .week li {
	border-right: 1px solid rgba(255,255,255,0.05);
}

@media all and (min-width: 768px){

	.nativeDroidCards > li {
		display: inline-block;
		float: left;
		margin: 1%;
		width: 43%;
	}
	
	.nativeDroidCards > li:nth-child(2n+1) {
		clear: both;
	}
}

.nativeDroidCards {
	list-style: none;
	padding: 12px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	perspective: 500;
	-webkit-perspective: 500;
}

.cardAnimated .nativeDroidCards > li {
	padding: 10px;
	margin: 12px;
	display: block;
	opacity: 1;
	top: 0px;
	left: -100%;
	position: relative;
	-webkit-animation: slideFromLeft 1.5s 1;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: slideFromLeft 1.5s 1;
	-moz-animation-fill-mode: forwards;
	animation: slideFromLeft 1.5s 1;
	animation-fill-mode: forwards;
}

.cardAnimated .nativeDroidCards > li:nth-child(even) {
	-webkit-animation: slideFromRight 1.5s 1;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: slideFromRight 1.5s 1;
	-moz-animation-fill-mode: forwards;
	animation: slideFromRight 1.5s 1;
	animation-fill-mode: forwards;
}
.nativeDroidCards > li {
	padding: 10px;
	margin: 12px;
	display: block;
	opacity: 1;
	top: 0px;
	position: relative;
}

.cardAnimated .nativeDroidCards > li:nth-child(even) {
	-webkit-animation: slideFromRight 1.0s 1;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: slideFromRight 1.0s 1;
	-moz-animation-fill-mode: forwards;
	animation: slideFromRight 1.0s 1;
	animation-fill-mode: forwards;
}
.maildetails .nativeDroidCards li{
	width: 97%;
}


.nativeDroidCards > li:nth-child(1) { -webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s;  -o-animation-delay: 0.5s; -ms-animation-delay: 0.5s; animation-delay: 0.5s;}
.nativeDroidCards > li:nth-child(2) { -webkit-animation-delay: 1s;  -moz-animation-delay: 1s;  }
.nativeDroidCards > li:nth-child(3) { -webkit-animation-delay: 1.5s;  -moz-animation-delay: 1.5s;  }
.nativeDroidCards > li:nth-child(4) { -webkit-animation-delay: 2.0s;  -moz-animation-delay: 2.0s;  }
.nativeDroidCards > li:nth-child(5) { -webkit-animation-delay: 2.5s;  -moz-animation-delay: 2.5s;  }
.nativeDroidCards > li:nth-child(6) { -webkit-animation-delay: 3s;  -moz-animation-delay: 3s;  }
.nativeDroidCards > li:nth-child(7) { -webkit-animation-delay: 3.5s;  -moz-animation-delay: 3.5s;  }
.nativeDroidCards > li:nth-child(8) { -webkit-animation-delay: 4s;  -moz-animation-delay: 4s;  }
.nativeDroidCards > li:nth-child(9) { -webkit-animation-delay: 4.5s;  -moz-animation-delay: 4.5s;  }
.nativeDroidCards > li:nth-child(10) { -webkit-animation-delay: 5s;  -moz-animation-delay: 5s;  }
.nativeDroidCards > li:nth-child(11) { -webkit-animation-delay: 5.5s;  -moz-animation-delay: 5.5s;  }
.nativeDroidCards > li:nth-child(12) { -webkit-animation-delay: 6s;  -moz-animation-delay: 6s;  }
.nativeDroidCards > li:nth-child(13) { -webkit-animation-delay: 6.5s;  -moz-animation-delay: 6.5s;  }
.nativeDroidCards > li:nth-child(14) { -webkit-animation-delay: 7s;  -moz-animation-delay: 7.0s;  }
.nativeDroidCards > li:nth-child(15) { -webkit-animation-delay: 7.5s;  -moz-animation-delay: 7.5s;  }

.nativeDroidCards > li h1 {
	font-size: 24px;
	padding: 0px;
	margin: auto;
	word-wrap: break-word;
}
.nativeDroidCards > li h2 {
	font-size: 14px;
	padding: 0px;
	margin: auto;
}

.nativeDroidCards > li[data-cards-type="sports"] h1 span {
	display: block;
	float: right;
}
.nativeDroidCards table {
	margin: 7px 0px 7px 0px;
	border-spacing:0;
	border-collapse:collapse;
	width: 100%;
}

.nativeDroidCards table td {
	vertical-align: top;
	margin: 0px;
	padding: 3px;
}

.nativeDroidCards table tr > td:first-child {
	text-align: right;
}

.nativeDroidCards a {
	display: block;
	padding: 7px 0px 7px 0px;
	font-size: 18px;
}

.nativeDroidCards > li[data-cards-type="weather"] ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

.nativeDroidCards > li[data-cards-type="weather"] ul li {
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.nativeDroidCards > li[data-cards-type="weather"] .detail li {
	display: inline-block;
}
.nativeDroidCards > li[data-cards-type="weather"] .detail li:first-child {
	width: 25%;
}
.nativeDroidCards > li[data-cards-type="weather"] .detail li:first-child span {
	display: block;
	width: auto;
}
.nativeDroidCards > li[data-cards-type="weather"] .detail li:first-child .sunny {
	font-size: 60px;
}
.nativeDroidCards > li[data-cards-type="weather"] .detail li:nth-child(2) {
	width: 70%;
	font-size: 115px;
	text-align: right;
}

.nativeDroidCards > li[data-cards-type="weather"] .week li strong,.nativeDroidCards > li[data-cards-type="weather"] .week li span,.nativeDroidCards > li[data-cards-type="weather"] .week i {
	display: block;
	width: auto;
}

.nativeDroidCards > li[data-cards-type="weather"] .week li {
	width: 22%;
	display: inline-block;
}
.nativeDroidCards > li[data-cards-type="weather"] .week li:last-child {
	border-right: 0px solid rgba(0,0,0,0.05);
}

.nativeDroidCards > li[data-cards-type="weather"] .sunny {
	color: #FFF000;
}

.nativeDroidCards ul[data-nativedroid-plugin="twitter"] li,.nativeDroidCards ul[data-nativedroid-plugin="twitter"] {
	padding: 0px;
	margin: 7px 0px 0px 0px;
}

.nativeDroidCards ul[data-nativedroid-plugin="twitter"] li img {
	float: left;
	margin: 7px;
}

.nativeDroidCards ul[data-nativedroid-plugin="twitter"] a,.nativeDroidCards ul[data-nativedroid-plugin="twitter"] p,.nativeDroidCards ul[data-nativedroid-plugin="twitter"] h2 {
	font-size: 14px;
	padding: 0px;
	margin: 0px;
	border-top: 0px;
}

.nativeDroidCards > li .map {
	margin: 0;
    padding: 0;
	width: 100%;
    height: 150px;
}
