/* Custom changes to the default JQM theme */

/************************** General style changes*/
.ui-panel .fa-fw {
	margin-right: 20px;
}
.ui-content {
	padding: 7px;
}

body, input, select, textarea, button, .ui-btn {
	font-family: "Roboto", "FontAwesome", sans-serif;
}

.ui-page-theme-b .ui-listview li {
	border-top: 1px solid rgba(255,255,255,0.05);
}

.ui-page-theme-b .ui-listview, .ui-page-theme-b .ui-collapsible {
	margin-left: 0;
	margin-right: 0;
}

.ui-overlay-b .ui-page-theme-b {
	background-color: #e5e5e5;
}

.ui-page-theme-a ui-input-text input, .ui-page-theme-a .ui-input-search input{
	color: white;
	text-shadow: none;
}

/************************** Header/Footer styling */

.ui-page-theme-b .ui-bar-b {
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.ui-page-theme-b .ui-bar-b,
.ui-page-theme-b .ui-header a,
.ui-page-theme-b .ui-header .ui-btn.ui-btn-active,
.ui-page-theme-b .ui-header a:hover,
.ui-page-theme-b .ui-header a:focus,
a.ui-btn-left.ui-btn.ui-btn-inline.ui-corner-all.ui-mini,
.ui-page-theme-b .ui-footer,
.ui-page-theme-b .ui-footer .ui-btn,
.ui-page-theme-b .ui-footer .ui-btn.ui-btn-active,
.ui-page-theme-b .ui-footer .ui-btn:hover,
.ui-page-theme-b .ui-footer .ui-btn:focus {
	background-color: #4285f4;
	border-color: #4285f4;
	color: white;
	border: none;
}

.ui-page-theme-b .ui-header .ui-title {
	text-align: left;
	padding-left: 50px;
	margin-left: 0;
}

.ui-page-theme-b .ui-footer .ui-title {
	margin-right: 10%;
	margin-left: 10%;
}

.ui-page-theme-b .ui-footer .ui-btn.ui-btn-active{
	background-color: #3174e3;
	color: white;
}

.ui-footer .ui-field-contain {
	padding: 0.4em 0;
	margin: 0;
}

/************************** Panel styling */

.ui-panel {
	box-shadow: 0 0 4px rgba(0,0,0,.14), 4px 0 8px rgba(0,0,0,.28);
}

.ui-panel-inner {
	position: absolute;
	overflow: auto;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-overflow-scrolling: touch;
}

@keyframes overlayer-in {
  from   {opacity: 0;}
  to {opacity: 0.3;}
}

@keyframes overlayer-out {
  from   {opacity: 0.3;}
  to {opacity: 0;}
}

.overlayer-in {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #000000;
	opacity: 0.3;
	animation-name: overlayer-in;
	animation-duration: 0.6s;
}

.overlayer-out {
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #000000;
	opacity: 0.3;
	animation-name: overlayer-out;
	animation-duration: 0.6s;
}

/************************** Canteen styling */

#canteen_nav {
	margin-bottom: 12px;
	border: none;
}

/************************** Google Maps custom styling */

.map-canvas {
	height: 250px;
	width: 100%;
	height: 80%;
}

.mapcontainer {
	float: right;
	width:30%;
	height: 100%;
}

/************************** info_general and Timetable Dialog styling */

#info_exam_table li a,
#timetable_config li li a {
	padding: 7px 35px 7px 10px;
	border-top: none;
	background-color: #f8f8f8;
	font-size: 16px;
}

#info_exam_table li,
#timetable_config li li{
	border: solid;
	border-width: 1px;
}

/************************** Sport/Staff pics styling */

.sport img, .staffpic {
	margin: 8px 0 0 14px;
}

/************************** Card custom styling */

.nativeDroidCards > li {
	border: 1px solid rgba(255,255,255,0.1);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	background-color: #ffffff;
}

/* Button styling */

.ui-page-theme-b .nativeDroidCards li > .ui-btn,
.ui-page-theme-b .nativeDroidCards li > .ui-btn.ui-btn-b,
.ui-page-theme-b .nativeDroidCards li > .ui-btn:hover,
.ui-page-theme-b .nativeDroidCards li p > .ui-btn,
.ui-page-theme-b .nativeDroidCards li p > .ui-btn.ui-btn-b,
.ui-page-theme-b .nativeDroidCards li p > .ui-btn:hover,
.ui-page-theme-b .nativeDroidCards li form button,
.ui-page-theme-b .nativeDroidCards li form button:hover {
	color: #4285f4;
	background-color: #ffffff;
	border: none;
	border-radius: 0;
	border-top: 1px double #555555;
	box-shadow: none;
	padding: 10px 0 0 0 ;
	text-align: left;
	font-weight: bold;
	font-size: 18px;
}

@media (min-width: 768px) {

	.nativeDroidCards > li {
		display: inline-block;
		float: left;
		margin-top: 0.9%;
		margin-right: 0.9%;
		width: 46%;
	}

	.nativeDroidCards > li:nth-child(2n+1) {
		clear: both;
	}
}

.nativeDroidCards > li {
	top: 0;
	position: relative;
	display: block;
	padding: 10px;
	opacity: 1;
}

@media (max-width: 767px){

	.nativeDroidCards > li {
		margin: 12px 0 12px 0;
	}
}

.nativeDroidCards {
	list-style: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	perspective: 500;
	-webkit-perspective: 500;
}

#qis_page .ui-collapsible-content, #qis_page .ui-body-b {
	background-color: #e5e5e5;
}

.maildetails .nativeDroidCards li,
.newsdetails .nativeDroidCards li {
	width: 97%;
}

.nativeDroidCards > li h1 {
	font-size: 18px;
	padding: 0;
	margin: auto;
	word-wrap: break-word;
}

.nativeDroidCards > li h2 {
	font-size: 10px;
	padding: 0;
	margin: auto;
	word-wrap: break-word;
}

.nativeDroidCards > li .map {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 150px;
}
